<p> <table border="3">
<tr>
   <td valign="top"> servo_control.servo_value[0] </td>
   <td> <input width="100px" type="text" id="servo_control_servo_value_0_" /> </td>
   <td> <button type="button" onclick="setVariable('servo_control.servo_value[0]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> servo_control.servo_value[1] </td>
   <td> <input width="100px" type="text" id="servo_control_servo_value_1_" /> </td>
   <td> <button type="button" onclick="setVariable('servo_control.servo_value[1]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> servo_control.servo_value[2] </td>
   <td> <input width="100px" type="text" id="servo_control_servo_value_2_" /> </td>
   <td> <button type="button" onclick="setVariable('servo_control.servo_value[2]')"/> SET</td>
</tr>
</table> </p>
